
Django==3.1.5
MySQL==8.0
mysqlclient==2.0.3
django-cleanup==5.1.0
pip install djangorestframework==3.12.2
pip install django_cleanup==5.1.0
python -m pip install django-cors-headers==3.7.0
pip install mysqlclient==2.0.3
requests==2.25.1
python -m pip install Pillow==8.1.0
automium-web==0.1.1
paginator==0.5.1
render==1.0.0
jinja2==2.11.3
django-redirect==0.2
timezones==2.0.8
admin==0.0.1




