<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Agent Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!--bootstrap cdn-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--Auto search css-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
                integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                crossorigin="anonymous"></script>
   <link rel="stylesheet" type="text/css" href="{% static 'css/profiledetails.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/imageUpload.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/addressChange.css' %}">
        <script src="{% static 'js/imageUpload.js' %}"></script>
        <script src="{% static 'js/resetPassword.js' %}"></script>
        <script src="{% static 'js/updateProfile.js' %}"></script>
        <script src="{% static 'js/registration.js' %}"></script>
       <script src="{% static 'js/search.js' %}"></script>
       <script src="{% static 'js/addressChange.js' %}"></script>
   </head>
<body>
        <div class="header" id="header">
            <h5 class="welcome" id="welcome-title-id">Welcome {{request.session.firstName}}!! </h5>
            <span>Last login:{{last_login}}</span>
        </div>
  <nav class="navbar navbar-expand-lg" role="navigation" style="background-color: #3b5998;" id="navbar">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
         <li>
             <span><i class="fa fa-home"></i><a class="nav-link-style py-0 myProfile" href="/agent/myProfile/" id="menu-profile">MyProfile</a></span></li>
     </ul>
    <ul class="navbar-nav">
      <li class="dropdown">
        <span> <i class="fa fa-user" aria-hidden="true"></i>
        <a class="dropdown-toggle py-0 nav-link-style" data-toggle="dropdown" href="#" id="menu-agent">Agent</a></span>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/agent/searchByAgent/" id="dropdown-search">Search</a></li>
          {% if request.session.usertype == "supervisor" %}
          <li><a class="dropdown-item" href="/agent/showAgents/" id="dropdown-showAgents">Show Agents</a></li>
          <li><a class="dropdown-item" href="/agent/register/" id="dropdown-createAgent">Create Agent</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
    {% if request.session.usertype == "supervisor" %}
    <ul class="navbar-nav">
      <li class="dropdown">
          <span><i class="fa fa-university" aria-hidden="true"></i>
        <a class="dropdown-toggle py-0 nav-link-style" data-toggle="dropdown" href="#" id="menu-dept">Department</a></span>
         <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/agent/showDepartments/" id="dropdown-showDept">Show Departments</a></li>
          <li><a class="dropdown-item" href="/agent/searchByDepartment/" id="dropdown-searchDept">Search by Department</a></li>
          <li><a class="dropdown-item" href="/agent/createDepartment/" id="dropdown-createDept">Create Department</a></li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="dropdown">
       <span><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
        <a class="dropdown-toggle py-0 nav-link-style" data-toggle="dropdown" href="#" id="menu-requests">Requests</a></span>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/agent/showRequests/" id="dropdown-requests">Show Requests</a></li>
        </ul>
      </li>
    </ul>
       <ul class="navbar-nav">
      <li class="dropdown">
       <span><i class="fa fa-group" aria-hidden="true"></i>
        <a class="dropdown-toggle py-0 nav-link-style" data-toggle="dropdown" href="#" id="menu-partner">Partner</a></span>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/agent/createPartner/" id="dropdown-create-partner">Create Partner</a></li>
           <li><a class="dropdown-item" href="/agent/partnerSearch/" id="dropdown-search-partner">Search Partner</a></li>
           <li><a class="dropdown-item" href="/agent/partnerUpdate/" id="dropdown-update-partner">Update Partner</a></li>
        </ul>
      </li>
    </ul>
     <ul class="navbar-nav">
      <li class="dropdown">
       <span><i class="fa fa-university"  aria-hidden="true"></i>
        <a class="dropdown-toggle py-0 nav-link-style" data-toggle="dropdown" href="#">Branch</a></span>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/agent/createbranch/">createbranch</a></li>
            <li><a class="dropdown-item" href="/agent/searchbranch/">searchbranch</a></li>
            <li><a class="dropdown-item" href="/agent/branchUpdate/">branchUpdate</a> </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="dropdown">
       <span><i class="fa fa-files-o" aria-hidden="true"></i>
        <a class="dropdown-toggle py-0 nav-link-style" data-toggle="dropdown" href="#">Invoice</a></span>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/agent/invoiceSelect/">Create Invoice</a></li>
        </ul>
      </li>
    </ul>
    {% endif %}
    <ul class="navbar-nav mr-auto">
    <li>
        <span><i class="fa fa-sign-out" aria-hidden="true"></i><a class="nav-link-style" id="menu-logout" href="/agent/agentLogout/">Logout</a></span></li>
  </ul>
    <form action="/agent/search_url/" class="form-inline navbar-right my-2 my-lg-0" id="search-form" method="GET">
         {% csrf_token %}
      <input type="text" name="myInput" id="myInput" placeholder="Go To Page...." class="form-control">
         <i class="fa fa-search"></i>
    </form>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </div>
</nav>
        {% block code %}
      <div class="row">
          <div class="column side left">
             <div class="display-image">
                    {% if agentProfile.image %}
                        <img src="{{agentProfile.image.url}}" alt="MyImage" accept=".png,.jpg,.jpeg" width="150px" height="150px"/>
                    {% else %}

                    {% endif %}
             </div>
             <div class="field-update" >
                <input type="submit" value="UpdateImage"  id="updateImage-btn" class="updateImage-btn" style="display:block"/>
             </div>
              <div>
                    <div id="upload" style="display:none;">
                        <form action='/agent/imageUpload/' method="post" enctype="multipart/form-data" id="image-upload-form">
                            {% csrf_token %}
                            <div class="field">
                                    <input id="id_image" type="file" class="profile-image" name="image" id="image-file-upload">
                            </div>

                            <div class="field">
                            <input type="submit" value="Upload" class="profile-image-upload-btn" id="image-upload-button"/>
                            </div>
                        </form>
                    </div>
              </div>
          </div>
        <div class="column middle">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab">
              <li class="nav-item">
                <a href="#myProfile" class="nav-link {{myProfile}}"  data-toggle="tab" id="myProfile-tab">MyProfile</a>
              </li>
              <li class="nav-item">
                <a  href="#update-profile" class="nav-link {{updateProfile}}"  data-toggle="tab" id="updateProfile-tab">UpdateProfile</a>
              </li>
              <li class="nav-item">
                <a href="#change-password" class="nav-link {{changePassword}}"  data-toggle="tab" id="changePassword-tab">ChangePassword</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content card">
              <div class="tab-pane {{myProfile}}" id="myProfile">
               <div class="card-body">
                 <table id="agent-details-table">
                     <tr>
                         <td>
                               <span>Profile Details</span>
                         </td>
                     </tr>
                    <tr>

                        <td>
                          First Name:
                        </td>
                        <td>
                            {{agentProfile.firstName}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Name:
                        </td>
                        <td>
                                   {{agentProfile.lastName}}
                        </td>
                    </tr>
                     <tr>
                        <td>
                           Email Id:
                        </td>

                        <td>
                                    {{agentProfile.email}}
                        </td>
                     </tr>
                     <tr>
                        <td>
                             UserName:
                        </td>
                        <td>

                          {{agentProfile.username}}

                        </td>
                     </tr>
                     <tr>
                       <td>
                             Department:
                       </td>
                        <td>
                             {{agentProfile.dept}}

                        </td>
                     </tr>
                </table>
                 <table class="address-table" id="pAddress">
                         <tr id="pAddress-table-row">
                               {{tMsg}}
                             <td>
                            <ul style="list-style: none;">
                                <span>{{pAddr.AddressType}}</span>
                                <li>Door No</li>
                                <li>Street</li>
                                <li>City</li>
                                <li>State</li>
                                <li>PinCode</li>
                            </ul>
                          </td>

                          <td>
                            <ul style="list-style: none;" id="pAddress-change-ul">
                                <form action="/agent/pAddressUpdate/" method="POST" id="permanent-address-form">
                                    {% csrf_token %}
                                <li><input type="text" id="pAddrType" name="AddrType" value="{{pAddr.AddressType}}" class="pAddressType-text" style="visibility:hidden;" readonly/></li>
                                <li><input type="text" id="pdno" name="DoorNo" value="{{pAddr.Dno}}" class="pAddress-update-text" readonly/></li>
                                <li><input type="text" id="pStreet" name="Street" value="{{pAddr.Street}}" class="pAddress-update-text" readonly/></li>
                                <li><input type="text" id="pCity" name="City" value="{{pAddr.City}}" class="pAddress-update-text" readonly/></li>
                                <li><input type="text" id="pState" name="State" value="{{pAddr.State}}" class="pAddress-update-text" readonly/></li>
                                <li><input type="text" id="pPincode" name="Pincode" value="{{pAddr.Pincode}}" class="pAddress-update-text" readonly/></li>
                                <li><input type="submit" id="pSubmit" class="pAddress-update-button" style="visibility:hidden;"></li>
                                </form>
                            </ul>
                          </td>
                               <td>
                                    <!--<a class="btn btn-primary" data-toggle="collapse" href="#pUpdateAddress">Update Address</a>-->
                                   <button id="pButton">UpdatePermanentAddress</button>
                               </td>
                         </tr>
                         <tr>
                              {{tMsg}}
                           <td>
                                <ul style="list-style: none;">
                                  <span>{{tAddr.AddressType}}</span>
                                <li>Door No</li>
                                <li>Street</li>
                                <li>City</li>
                                <li>State</li>
                                <li>PinCode</li>
                            </ul>

                           </td>
                           <td>
                               <br>
                            <ul style="list-style: none;">
                             <form action="/agent/pAddressUpdate/" method="POST" id="temporary-address-form">
                                  {% csrf_token %}
                                  <li><input type="text" id="tAddrType" name="AddrType" value="{{tAddr.AddressType}}" class="tAddressType-text" style="visibility:hidden;" readonly/></li>
                                <li><input type="text" id="tdno" name="DoorNo" value="{{tAddr.Dno}}" class="tAddress-update-text" style="border:none;outline:none" readonly/></li>
                                <li><input type="text" id="tStreet" name="Street" value="{{tAddr.Street}}" class="tAddress-update-text" style="border:none;outline:none" readonly/></li>
                                <li><input type="text" id="tCity" name="City" value="{{tAddr.City}}" class="tAddress-update-text" style="border:none;outline:none" readonly/></li>
                                <li><input type="text" id="tState" name="State" value="{{tAddr.State}}" class="tAddress-update-text" style="border:none;outline:none" readonly/></li>
                                <li><input type="text" id="tPincode" name="Pincode" value="{{tAddr.Pincode}}" class="tAddress-update-text" style="border:none;outline:none" readonly/></li>
                                <li><input type="submit" id="tSubmit" class="tAddress-update-button" style="visibility:hidden;"></li>
                             </form>
                            </ul>
                          </td>
                           <td>
                              <button id="tButton" name="tButton" id="tButton">UpdateTemporaryAddress</button>
                            </td>
                 </tr>
                    </table>
                </div>
              </div>
           <div class="tab-pane {{updateProfile}}" id="update-profile">
           <div class="update-profile-card card-body" id="update-profile-card">
               <span class="error-form">{{errorMsg}}</span>
           <form action="/agent/editProfile/" id="update-profile-form" method="post">
                                                    {% csrf_token %}
                              <div>
                                <div>
                                    <label class="update-field-label">First Name</label>
                                    <input type="text" name="firstName" id="firstName" class="editProfile-firstName"
                                    value="{{agentProfile.firstName}}"/>
                                </div>
                                <div>
                                    <label class="update-field-label"> Last Name</label>
                                    <input type="text" name="lastName" id="lastName" class="editProfile-firstName"
                                    value="{{agentProfile.lastName}}" />
                                </div>
                                <div>
                                    <label class="update-field-label">Email Id</label>
                                    <input type="text" name="email" id="email" class="editProfile-email"
                                    value="{{agentProfile.email}}" />
                                </div>

                                <input type="submit" id="button-1"value="Update" class="update-profile-submit"/>
                              </div>
                            </form>
                         <div class="container">
    <!--<a class="btn btn-primary" data-toggle="collapse" href="#updateAddress" role="button" aria-expanded="false" aria-controls="collapseExample">Update Address</a>-->

                </div>
            </div>
       </div>
        <div class="tab-pane {{changePassword}}" id="change-password">
            <div class="change-password-card card-body">
                <span class="error-form" id="changePasswordError">{{changeMsg}}</span>
                <span class="error-form" id="errorMessage"></span><br>
                <form action="/agent/changePassword/" method="post">

		                           {% csrf_token %}
                        <div>
                            <label class="change-password-label">Enter Old Password</label>
                            <input type="password" name="old-password" class="change-password-field" id="old-password-field" required/>
                        </div>
                        <div>
                            <label class="change-password-label">Type New Password</label>
                            <input type="password" name="new-password" class="change-password-field" id="password-field"/>
                        </div>
                        <div>

                            <label class="change-password-label">Re-Type New Password</label>
                            <input type="password" name="confirm-Password" class="change-password-field" id="confirm-password-field"/>

                        </div>

                         <input type="submit" value="Change" class="change-password-submit" id="button-2">
                    </form>
             </div>
</div>
             </div>


        {% endblock %}
      </div>
      </div>
</body>

        <div class="footer">
          <p>Copy right @CSR Application 2021<br> version: v1.0 </p>
        </div>

</html>