<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Agent Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!--bootstrap cdn-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--Auto search css-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
                integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                crossorigin="anonymous"></script>
   <link rel="stylesheet" type="text/css" href="{% static 'css/profiledetails.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/imageUpload.css' %}">
        <script src="{% static 'js/imageUpload.js' %}"></script>
        <script src="{% static 'js/resetPassword.js' %}"></script>
        <script src="{% static 'js/updateProfile.js' %}"></script>
        <script src="{% static 'js/index.js' %}"></script>
       <script src="{% static 'js/search.js' %}"></script>

 </head>
<body>
        <div class="header">
            <h5 class="welcome">Welcome {{request.session.firstName}}!! </h5>
            <span>Last login:{{last_login}}</span>
        </div>
  <nav class="navbar navbar-expand-lg" role="navigation" style="background-color: #3b5998;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
         <li>
             <span><i class="fa fa-home"></i><a class="nav-link-style py-0 myProfile" href="/agent/myProfile/">MyProfile</a></span></li>
     </ul>
    <ul class="navbar-nav">
      <li class="dropdown">
        <span> <i class="fa fa-user" aria-hidden="true"></i>
        <a class="dropdown-toggle py-0 nav-link-style" data-toggle="dropdown" href="#">Agent</a></span>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/agent/searchByAgent/">Search</a></li>
          {% if usertype == "supervisor" %}
          <li><a class="dropdown-item" href="/agent/showAgents/">Show Agents</a></li>
          <li><a class="dropdown-item" href="/agent/register/">Create Agent</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
    {% if usertype == "supervisor" %}
    <ul class="navbar-nav">
      <li class="dropdown">
          <span><i class="fa fa-university" aria-hidden="true"></i>
        <a class="dropdown-toggle py-0 nav-link-style" data-toggle="dropdown" href="#">Department</a></span>
         <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/agent/showDepartments/">Show Departments</a></li>
          <li><a class="dropdown-item" href="/agent/searchByDepartment/">Search by Department</a></li>
          <li><a class="dropdown-item" href="/agent/createDepartment/">Create Department</a></li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="dropdown">
       <span><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
        <a class="dropdown-toggle py-0 nav-link-style" data-toggle="dropdown" href="#">Requests</a></span>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/agent/showRequests/">Show Requests</a></li>
        </ul>
      </li>
    </ul>
    {% endif %}
    <ul class="navbar-nav mr-auto">
    <li>
        <span><i class="fa fa-sign-out" aria-hidden="true"></i><a class="nav-link-style" href="/agent/agentLogout/">Logout</a></span></li>
  </ul>
    <form action="/agent/search_url/" class="form-inline navbar-right my-2 my-lg-0" id="search-form" method="GET">
         {% csrf_token %}
      <input type="text" name="myInput" id="myInput" placeholder="Go To Page...." class="form-control">
         <i class="fa fa-search"></i>
    </form>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </div>
</nav>
        {% block code %}
      <div class="row">
          <div class="column side left">
             <div class="display-image">
                    {% if agentProfile.image %}
                        <img src="{{agentProfile.image.url}}" alt="MyImage" accept=".png,.jpg,.jpeg" width="150px" height="150px"/>
                    {% else %}

                    {% endif %}
             </div>
             <div class="field-update" >
                <input type="submit" value="UpdateImage"  onclick="myImageUpload()" id="updateImage-btn" class="updateImage-btn" style="display:block"/>
             </div>
              <div>
                    <div id="upload" style="display:none;">
                        <form action='/agent/imageUpload/' method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="field">
                                    <input id="id_image" type="file" class="profile-image" name="image">
                            </div>

                            <div class="field">
                            <input type="submit" value="Upload" class="profile-image-upload-btn" />
                            </div>
                        </form>
                    </div>
              </div>
          </div>

        <div class="column middle">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab">
              <li class="nav-item">
                <a href="#myProfile" class="nav-link {{myProfile}}"  data-toggle="tab">MyProfile</a>
              </li>
              <li class="nav-item">
                <a  href="#update-profile" class="nav-link {{updateProfile}}"  data-toggle="tab">UpdateProfile</a>
              </li>
              <li class="nav-item">
                <a href="#change-password" class="nav-link {{changePassword}}"  data-toggle="tab">ChangePassword</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content card">
              <div class="tab-pane {{myProfile}}" id="myProfile">
               <div class="card-body">
                 <table id="agent-details-table">
                     <tr>
                         <td>
                               <span>Profile Details</span>
                         </td>
                     </tr>
                    <tr>

                        <td>
                          First Name:
                        </td>
                        <td>
                            {{agentProfile.firstName}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Name:
                        </td>
                        <td>
                                   {{agentProfile.lastName}}
                        </td>
                    </tr>
                     <tr>
                        <td>
                           Email Id:
                        </td>

                        <td>
                                    {{agentProfile.email}}
                        </td>
                     </tr>
                     <tr>
                        <td>
                             UserName:
                        </td>
                        <td>

                          {{agentProfile.username}}

                        </td>
                     </tr>
                     <tr>
                       <td>
                             Department:
                       </td>
                        <td>
                             {{agentProfile.dept}}

                        </td>
                     </tr>
                </table>
                    <table id="address-table">
                         <tr>
                               {{tMsg}}
                             <td style="border-collapse:collapse;border-spacing: 5px;">
                            <ul style="list-style: none;">
                                <span>{{pAddr.AddressType}}</span>
                                <li>Door No</li>
                                <li>Street</li>
                                <li>City</li>
                                <li>State</li>
                                <li>PinCode</li>
                            </ul>
                          </td>

                          <td style="border-collapse:collapse;border-spacing: 5px;">
                            <br>
                            <ul style="list-style: none;">
                                <li>{{pAddr.Dno}}</li>
                                <li>{{pAddr.Street}}</li>
                                <li>{{pAddr.City}}</li>
                                <li>{{pAddr.State}}</li>
                                <li>{{pAddr.Pincode}}</li>
                            </ul>
                          </td>
                                       <td valign="top">
                          <div class="container">
                              <a class="btn btn-primary" data-toggle="collapse" href="#updateAddress">Update Address</a>
                              <div id="pupdateAddress" class="collapse" style="width:50px;position:absolute">
                         <form action="/agent/createAddress/" method="POST">
                           {% csrf_token %}
                             <div class="update-address">
                                <label>Address Type</label>
                                {{AddressForm.AddressType}}
                             </div>
                             <div>
                                    <label class="update-addr-label">DoorNo</label>
                                    <input type="text" name="DoorNo" id="pDoorNo" class="editAddress"/>
                             </div>
                             <div>
                                    <label class="update-addr-label">Street</label>
                                    <input type="text" name="Street" id="pStreet" class="editAddress"/>
                             </div>
                              <div>
                                    <label class="update-addr-label">City</label>
                                    <input type="text" name="City" id="pCity" class="editAddress"/>
                             </div>
                             <div>
                                    <label class="update-addr-label">State</label>
                                    <input type="text" name="State" id="pState" class="editAddr"/>
                             </div>
                             <div>
                                    <label class="update-addr-label">Pincode</label>
                                    <input type="text" name="Pincode" id="pPincode" class="editAddr"/>
                             </div>
                             <div class=" agentAddress-submit">
                                    <input type="submit" value="save" class="Address-submit-button">
                            </div>
                        </form>
                    </div>
                      </div>
                  </td>
                        </tr>

                          <tr>
                              {{tMsg}}
                           <td style="position:absolute">
                                <ul style="list-style: none;">
                                  <span>{{tAddr.AddressType}}</span>
                                <li>Door No</li>
                                <li>Street</li>
                                <li>City</li>
                                <li>State</li>
                                <li>PinCode</li>
                            </ul>

                           </td>
                           <td style="position:relative">
                               <br>
                            <ul style="list-style: none;">
                              <li>{{tAddr.Dno}}</li>
                             <li>{{tAddr.Street}}</li>
                             <li>{{tAddr.City}}</li>
                             <li>{{tAddr.State}}</li>
                             <li>{{tAddr.Pincode}}</li>
                            </ul>
                          </td>
                           <td valign="top">
                          <div class="container">
                              <a class="btn btn-primary" data-toggle="collapse" href="#updateAddress">Update Address</a>
                              <div id="updateAddress" class="collapse" style="width:50px;position:absolute">
                         <form action="/agent/createAddress/" method="POST">
                           {% csrf_token %}
                             <div class="update-address">
                                <label>Address Type</label>
                                {{AddressForm.AddressType}}
                             </div>
                             <div>
                                    <label class="update-addr-label">DoorNo</label>
                                    <input type="text" name="DoorNo" id="DoorNo" class="editAddress"/>
                             </div>
                             <div>
                                    <label class="update-addr-label">Street</label>
                                    <input type="text" name="Street" id="Street" class="editAddress"/>
                             </div>
                              <div>
                                    <label class="update-addr-label">City</label>
                                    <input type="text" name="City" id="City" class="editAddress"/>
                             </div>
                             <div>
                                    <label class="update-addr-label">State</label>
                                    <input type="text" name="State" id="State" class="editAddr"/>
                             </div>
                             <div>
                                    <label class="update-addr-label">Pincode</label>
                                    <input type="text" name="Pincode" id="Pincode" class="editAddr"/>
                             </div>
                             <div class=" agentAddress-submit">
                                    <input type="submit" value="save" class="Address-submit-button">
                            </div>
                        </form>
                    </div>
                      </div>
                  </td>
                 </tr>
                    </table>
                </div>
              </div>
           <div class="tab-pane {{updateProfile}}" id="update-profile">
           <div class="update-profile-card card-body">
               <span class="error-form">{{errorMsg}}</span>
           <form action="/agent/editProfile/" method="post">
                                                    {% csrf_token %}
                              <div>
                                <div>
                                    <label class="update-field-label">First Name</label>
                                    <input type="text" name="firstName" id="firstName" class="editProfile-firstName"
                                    value="{{agentProfile.firstName}}"/>
                                </div>
                                <div>
                                    <label class="update-field-label"> Last Name</label>
                                    <input type="text" name="lastName" id="lastName" class="editProfile-firstName"
                                    value="{{agentProfile.lastName}}" />
                                </div>
                                <div>
                                    <label class="update-field-label">Email Id</label>
                                    <input type="text" name="email" id="email" class="editProfile-email"
                                    value="{{agentProfile.email}}" />
                                </div>

                                <input type="submit" id="button-1"value="Update" class="update-profile-submit"/>
                              </div>
                            </form>
                         <div class="container">
    <!--<a class="btn btn-primary" data-toggle="collapse" href="#updateAddress" role="button" aria-expanded="false" aria-controls="collapseExample">Update Address</a>-->

                </div>
            </div>
       </div>
        <div class="tab-pane {{changePassword}}" id="change-password">
            <div class="change-password-card card-body">
                <span class="error-form" id="changePasswordError">{{changeMsg}}</span>
                <span class="error-form" id="errorMessage"></span><br>
                <form action="/agent/changePassword/" method="post">

		                           {% csrf_token %}
                        <div>
                            <label class="change-password-label">Enter Old Password</label>
                            <input type="password" name="old-password" class="change-password-field" id="old-password-field" required/>
                        </div>
                        <div>
                            <label class="change-password-label">Type New Password</label>
                            <input type="password" name="new-password" class="change-password-field" id="password-field"/>
                        </div>
                        <div>

                            <label class="change-password-label">Re-Type New Password</label>
                            <input type="password" name="confirm-Password" class="change-password-field" id="confirm-password-field"/>

                        </div>

                         <input type="submit" value="Change" class="change-password-submit" id="button-2">
                    </form>
             </div>
</div>
             </div>


        {% endblock %}
      </div>
      </div>
</body>

        <div class="footer">
          <p>Copy right @CSR Application 2021<br> version: v1.0 </p>
        </div>

</html>