{% extends "agentDetails.html" %}
{% block code %}
        {% load static %}
                <link rel="stylesheet" type="text/css" href="{% static 'css/invoice.css' %}">
                <script src="{% static 'js/invoice.js' %}"></script>
<div class="Invoice-Select-Container">

     <form action="/agent/invoiceCreate/" method="post" id="invoice-form">
                    {% csrf_token %}

        <table class="table table-bordered text-left" id="table">
            <tr>
                <td colspan="9" style="text-align:center;"><b>Tax Invoice</b></td>
            </tr>
            <tr>
                <td colspan="3">
                   Billing Address
                </td>
                <td colspan="3">
                    To
                </td>
                <td colspan="3">
                    From
                </td>
            </tr>
            <tr>
                <td colspan="3">

                </td>
                <td colspan="3">
                <input type="text" name="partner" value="{{partner_Obj.name}}" style="border:none">
                </td>
                <td colspan="3">
                    <input type="text" name="branch" value="{{branch_Obj.BranchName}}" style="border:none">
                </td>
            </tr>
            <tr>
                <td colspan="3">

                </td>
                <td colspan="3">
                   {{partner_addr_obj.Dno}}
                </td>
                <td colspan="3">
                   {{branch_addr_obj.Dno}}
                </td>
            </tr>
            <tr>
                <td colspan="3">

                </td>
                <td colspan="3">
                   {{partner_addr_obj.Street}}
                </td>
                <td colspan="3">
                   {{branch_addr_obj.Street}}
                </td>
            </tr>
            <tr>
                <td colspan="3">

                </td>
                <td colspan="3">
                   {{partner_addr_obj.City}}
                </td>
                <td colspan="3">
                   {{branch_addr_obj.City}}
                </td>
            </tr>
                 <tr>
                <td colspan="3">

                </td>
                <td colspan="3">
                   {{partner_addr_obj.State}}
                </td>
                <td colspan="3">
                   {{branch_addr_obj.State}}
                </td>
            </tr>
             <tr>
                <td colspan="3">
                    Code
                </td>
                <td colspan="3">

                </td>
                <td colspan="3">

                </td>
            </tr>
             <tr>
                <td colspan="3">
                    Unique Code
                </td>
                <td colspan="3">

                </td>
                <td colspan="3">

                </td>
            </tr>
            <tr>
            <!--    <th>
                    S.No
                </th>-->
                 <th>
                    Description of Works
                </th>
                 <th>
                    HSN Code
                </th>
                 <th>
                    UOM
                </th>
                <th>
                    QTY/Kg
                </th>
                 <th>
                    Rate/Kg
                </th>
                 <th>
                    Total Value(Rs.)
                </th>
                 <th>
                    IGST
                </th>
                 <th>
                    CGST
                </th>
                 <th>
                    Total Tax
                </th>
                <th>
                     <button type="button" name="button" id="invoice-button" class="invoice-add-submit">Add</button>
                </th>
            </tr>

            <tr class="tr">
               <!--     <td>
                      <input type="text" name="sno0" id="sno0"/>
                    </td>-->
                     <td>
                        <input type="text" rows="2" cols="20" id="comment" name="comment0" placeholder="Description here...">
                    </td>
                     <td>
                      <input type="text" name="HSN0" id="HSN" value="HSN123"/>
                    </td>
                     <td>
                       <input type="text" name="UOM0" id="UOM" value="AU"/>
                    </td>
                     <td>
                       <input type="text" name="qty0" id="qty" value="" />
                    </td>
                     <td>
                        <input type="text" name="rate0" id="rate" value="" />
                    </td>
                     <td>
                        <input type="text" name="totalValue0" id="totalValue" value="" />
                    </td>
                    <td>
                        <input type="text" name="igst0" id="igst" value="9%"/>
                    </td>
                    <td>
                        <input type="text" name="cgst0" id="cgst" value="9%"/>
                    </td>
                    <td id="here">
                        <input type="text" name="totalTax0" id="totalTax" value="18%"/>
                    </td>
                </tr>
        </table>
         <input type="hidden"  id="count" name="count"  class="count" value='1'/>
            <span class="Invoice-submit">
                    <input type="submit" name="submit" value="Submit" id="invoice-select-submit" class="invoice-select-submit">
            </span>
       </form>
    <br>
</div>


{% endblock %}