{% extends "agentDetails.html" %}
{% block code %}
        {% load static %}
                <link rel="stylesheet" type="text/css" href="{% static 'css/invoice.css' %}">
                <script src="{% static 'js/invoice.js' %}"></script>

<div class="Invoice-Select-Container">
     <form action="/agent/invoiceCreate/" method="post" id="invoice-form">
                    {% csrf_token %}
        <table id="table">
            <tr>
                <td colspan="11" style="text-align:center;"><b>Tax Invoice</b></td>
            </tr>
            <tr>
                <td colspan="5">
                    To
                </td>
                <td colspan="6">
                    From
                </td>
            </tr>
            <tr>
                <td colspan="5">
                <input type="text" name="partner" value="{{partner_Obj.name}}" style="border:none">
                </td>
                <td colspan="6">
                    <input type="text" name="branch" value="{{branch_Obj.BranchName}}" style="border:none">
                </td>
            </tr>
            <tr>
                <td colspan="5">
                   {{partner_addr_obj.Dno}}
                </td>
                <td colspan="6">
                   {{branch_addr_obj.Dno}}
                </td>
            </tr>
            <tr>
                <td colspan="5">
                   {{partner_addr_obj.Street}}
                </td>
                <td colspan="6">
                   {{branch_addr_obj.Street}}
                </td>
            </tr>
            <tr>
                <td colspan="5">
                   {{partner_addr_obj.City}}
                </td>
                <td colspan="6">
                   {{branch_addr_obj.City}}
                </td>
            </tr>
                 <tr>
                <td colspan="5">
                   {{partner_addr_obj.State}}
                </td>
                <td colspan="6">
                   {{branch_addr_obj.State}}
                </td>
            </tr>

            <tr>
            <!--    <th>
                    S.No
                </th>-->
                 <th>
                    Description of Works
                </th>
                 <th>
                    HSN Code
                </th>
                 <th>
                    UOM
                </th>
                <th>
                    QTY/Kg
                </th>
                 <th>
                    Rate/Kg
                </th>
                 <th>
                    Total Value(Rs.)
                </th>
                 <th>
                    IGST
                </th>
                 <th>
                    CGST
                </th>
                 <th>
                    Total Tax
                </th>
                 <th>
                    Status
                </th>
                <th>
                     <button type="button" name="button" id="invoice-button" class="invoice-add-submit">Add</button>
                </th>
            </tr>
            <tbody class="Invoice-table">
            <tr class="tr">
               <!--     <td>
                      <input type="text" name="sno0" id="sno0"/>
                    </td>-->
                     <td>
                        <input type="text" rows="2" cols="20" id="comment0" name="comment0" placeholder="Description here...">
                    </td>
                     <td>
                      <input type="text" name="HSN0" id="HSN0" value="HSN123"/>
                    </td>
                     <td>
                       <input type="text" name="UOM0" id="UOM0" value="AU"/>
                    </td>
                     <td>
                       <input type="text" name="qty0" id="qty0" value="" />
                    </td>
                     <td>
                        <input type="text" name="rate0" id="rate0" value="" />
                    </td>
                     <td>
                        <input type="text" name="totalValue0" id="totalValue0" value="" />
                    </td>
                    <td>
                        <input type="text" name="igst0" id="igst0" value="{{partner_Obj.IGST}}"/>
                    </td>
                    <td>
                        <input type="text" name="cgst0" id="cgst0" value="{{partner_Obj.CGST}}"/>
                    </td>
                    <td>
                        <input type="text" name="totalTax0" id="totalTax" value="" readonly/>
                    </td>

                    <td>
                        <input type="text" name="status0" id="status" value=""/>
                    </td>
                </tr>
                </tbody>
        </table>
         <br>
         <div class="TotalPrice">
         <label>Transport Charges</label>
         <input type="text" name="transportCharges" id="transportCharges" value=""/>
         <label>Total Price</label>
         <input type="text" name="totalcost" id="totalcost" placeholder="Price+Tax+Tr.Charges" value=""/>
         <input type="hidden"  id="count" name="count"  class="count" value='1'/>
         </div>
            <span class="Invoice-submit">
                    <input type="submit" name="submit" value="Submit" id="invoice-select-submit" class="invoice-select-submit">
            </span>
       </form>
    <br>
</div>


{% endblock %}