{% extends "agentDetails.html" %}
{% block code %}
        {% load static %}
                <link rel="stylesheet" type="text/css" href="{% static 'css/searchAgent.css' %}">
                <script src="{% static 'js/searchAgent.js' %}"></script>
    <ul class='tabs'>
            <li><a href='#tab1'>Search</a></li>
            <li><a href='#tab2'>Advanced Search</a></li>
        </ul>
<div id='tab1'>
    		<table>
                <tr>
                    <td>
                     {{msg}}
                    </td>
                </tr>

               <form action="/agent/searchByAgent/" name="registration-page" method="post" id="form1">
            {% csrf_token %}
                 <tr>
                     <td>
                <div class="search-field">
                 <!-- <label>Search</label>  <span class="search-field-input">{{form.username}}</span>-->
                    <input type="text" id="placeholder" name="username" placeholder=" search here" class="search-field-input" required/>

                </div>
                     </td>
                     <td>
                        <div class="searchAgent-button">
                    <input type="submit" value="Search" id="button-1">
                </div>
                     </td>
                </tr>
                   <tr>
                <td>
                <div class="radio-field" id="div1">
                   ById<input type="radio" class="radio-buttons" name="radio" onclick="changePlaceholder1()"/>
                   ByName<input type="radio" class="radio-buttons" name="radio"  onclick="changePlaceholder2()"/>
                    <span class="error_form" id="searchById_error_message"></span>
                </div>
                </td>
                </tr>
   	 </form>

          </table>
        </div>


    <div id='tab2'>
            <form action="/agent/advSearchByAgent/" name="searchByAgent-page" id="form2">
                {% csrf_token %}
                <table id="advSearch-option-table">
                     {{advSearchmsg}}
                    <tr>
                        <span class="error_form" id="error_message"></span>
                    </tr>
                 <tr>

                     <td>

                <input type="text" id="firstName" name="firstName" placeholder="FirstName">
                     </td>
                     <td>
                      <input type="text" id="lastName" name="lastName" placeholder="LastName">
                      </td>
                      <td>
                      <input type="text" id="username" name="username" placeholder="username">
                          </td>
                    <td>
                <div class="advSearchAgent-button">
                        <input type="submit" value="Search" id="button-2" >
                </div>
                    </td>
                    </tr>
                    </table>
           </form>
            </div>
         </div>

     <div>

        <table id="agent-search-table">

          {% if search_by_name %}
            <tr><span>Details of {{search_by_name.username}}</span></tr>
            <tr>
                <td>
                <th>Image</th>
                </td>
                <td>
                            {% if search_by_name.image %}
                                <img src="{{search_by_name.image.url}}" alt="MyImage" accept=".png,.jpg,.jpeg"
                                                        width="70px" height="25px"/>
                             {% else %}
                                    {{msg}}
                            {% endif %}

                </td>
            </tr>
            <tr>
                <td>
                   <th>FirstName</th>
                </td>
                <td>
                    {{search_by_name.firstName}}
                <td>
            </tr>
            <tr>
                <td>
                   <th>LastName</th>
                </td>
                <td>
                     {{search_by_name.lastName}}
                </td>
            </tr>
            <tr>
                 <td>
                    <th>Email</th>
                 </td>
                 <td>

                     {{search_by_name.email}}
                 </td>
            </tr>
            <tr>
                <td>
                    <th>Username</th>
                </td>
                    <td>
                        {{search_by_name.username}}

                </td>
            </tr>
            <tr>
                <td>
                   <th>UserType</th>
                </td>
                <td>

                     {{search_by_name.usertype}}

                </td>
            </tr>
            <tr>
                 <td>
                  <th>Department</th>
                 </td>

                <td>


                     {{search_by_name.dept}}


                </td>
            </tr>

             {% endif %}
        </table>

  </div>

 <div>
       {% if adv_search_obj %}
        <table id="advSearchagent-table">

            <tr>
                <caption>Searched Agents</caption>
            </tr>

            <tr>
                <th>Image</th>
                <th>FirstName</th>
                <th>LastName</th>
                 <th>Email</th>
                 <th>Username</th>
                 <th>UserType</th>
                  <th>Department</th>
            </tr>
            {% for adv_search_obj in page_obj %}
            <tr>
                <td>
                        {% if adv_search_obj.image %}
                                <img src="{{adv_search_obj.image.url}}" alt="MyImage" accept=".png,.jpg,.jpeg"
                                                        width="70px" height="25px"/>
                             {% else %}
                                    {{msg}}
                            {% endif %}
                </td>
                <td>

                    {{adv_search_obj.firstName}}

                <td>


                     {{adv_search_obj.lastName}}

                </td>
                <td>
                     {{adv_search_obj.email}}


                </td>
                <td>

                     {{adv_search_obj.username}}


                </td>
                <td>

                     {{adv_search_obj.usertype}}


                </td>
                <td>
                     {{adv_search_obj.dept}}


                </td>
            </tr>
            {% endfor %}

       </table>
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{{GET_params.urlencode}}&amp;page=1">&laquo; first</a>
            <a href="?{{GET_params.urlencode}}&amp;page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?{{GET_params.urlencode}}&amp;page={{ page_obj.next_page_number}}">next</a>
            <a href="?{{GET_params.urlencode}}&amp;page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>

  </div>
        {% endif %}
        </div>

</div>
{% endblock %}


