<!DOCTYPE html>
<html lang="en">
<head>
<title>SearchDepartment</title>
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
<link rel="stylesheet" href="style.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/searchAgent.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profiledetails.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/imageUpload.css' %}">
	 <script src="{% static 'js/registration.js' %}"></script>
    <script src="{% static 'js/searchDepartment.js' %}"></script>

</head>
<body>

<div class="header">
  <h1 class="welcome">Welcome {{request.session.firstName}}</h1>
</div>
<div class="topnav">
   	   <a href="/agent/supervisorDetails/">My Profile</a>
                 <div class="dropdown">
                      <button class="dropbtn">Agent</button>
                      <div class="dropdown-content">
                      <a href="/agent/searchByAgent/">Search</a>
                 {% if usertype == "supervisor" %}
                      <a href="/agent/showAgents/">ShowAgents</a>
                      <a href="/agent/register/">Create Agent</a>
                    {% endif %}
                      </div>

                 </div>
                 {% if usertype == "supervisor" %}
                   <div class="dropdown">
                      <button class="dropbtn">Department</button>
                      <div class="dropdown-content">
                      <a href="/agent/createDepartment/">Create Department</a>
                      <a href="/agent/showAllDepartments/">ShowAllDepartments</a>
                      <a href="/agent/searchByDepartment/">SearchByDepartment</a>
                      </div>
                   </div>
                   <div class="dropdown">
                      <button class="dropbtn">Requests</button>
                      <div class="dropdown-content">
                          <a href="/agent/showRequests/">ShowRequests </a>
                      </div>
                   </div>
                 {% endif %}
                  <a href="/agent/agentLogout/">Logout</a>
       </div>
</div>
<!--<div class="searchOptions">
    <button id="showSearch">Search By Id or Name</button>
    <button id="showAdvancedSearch">Advanced Search</button>

</div>-->

    <ul class='tabs'>
            <li><a href='#tab1'>Search</a></li>

        </ul>
<div id='tab1'>
		<table>

               <form action="/agent/searchByDepartment/" name="registration-page" method="post" id="form1">
            {% csrf_token %}
                 <tr>
                     <td>
                <div class="search-field">
                     {{msg}}
                   <label>Search</label>
                 <!--   <span class="search-field-input">{{form.username}}</span>-->
                    <input type="text" id="placeholder" name="username" placeholder="" class="search-field-input" required/>

                </div>
                     </td>
                     <td>
                        <div class="searchDepartment-button">
                    <input type="submit" value="Search" id="button-1">
                </div>
                     </td>
                </tr>
                   <tr>
                <td>
                <div class="radio-field" id="div1">
                   ById<input type="radio" class="radio-buttons" name="radio" onclick="changePlaceholder1()"/>
                   ByName<input type="radio" class="radio-buttons" name="radio"  onclick="changePlaceholder2()"/>
                    <span class="error_form" id="searchById_error_message"></span>
                </div>
                </td>
                </tr>
   	 </form>
          </table>

        </div>


                     <td col-span="1">

                      <input type="text" id="lastName" name="lastName" placeholder="LastName">

                      </td>
                      <td col-span="1">


                      <input type="text" id="username" name="username" placeholder="username">

                          </td>

                    </tr>

                    </table>
           </form>

         </div>

     <div>

        <table id="agent-search-table">

          {% if search_by_Department %}
              <caption>Details of {{search_by_Department.username}} </caption>
            <tr>
                <td>
                <th>Image</th>
                </td>
                <td>
                            {% if search_by_Department.image %}
                                <img src="{{search_by_Department.image.url}}" alt="MyImage" accept=".png,.jpg,.jpeg"
                                                        width="70px" height="30px"/>
                             {% else %}
                                    {{msg}}
                            {% endif %}

                </td>
            </tr>
            <tr>
                <td>
                   <th>FirstName</th>
                </td>
                <td>


                    {{search_by_Department.firstName}}

                <td>
            </tr>
            <tr>
                <td>
                   <th>LastName</th>
                </td>
                <td>


                     {{search_by_Department.lastName}}

                </td>
            </tr>
            <tr>
                 <td>
                    <th>Email</th>
                 </td>
                 <td>


                     {{search_by_Department.email}}

            </tr>
            <tr>
                <td>
                    <th>Username</th>
                </td>
                    <td>


                     {{search_by_Department.username}}


                </td>
            </tr>
            <tr>
                <td>
                   <th>UserType</th>
                </td>
                <td>


                     {{search_by_Department.usertype}}


                </td>
            </tr>
            <tr>
                 <td>
                  <th>Department</th>
                 </td>

                <td>


                     {{search_by_Department.dept}}


                </td>
            </tr>

             {% endif %}
        </table>






        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{{GET_params.urlencode}}&amp;page=1">&laquo; first</a>
            <a href="?{{GET_params.urlencode}}&amp;page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?{{GET_params.urlencode}}&amp;page={{ page_obj.next_page_number}}">next</a>
            <a href="?{{GET_params.urlencode}}&amp;page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>

  </div>
        {% endif %}
        </div>

</div>
<div class="footer">
  <p>Footer</p>
</div>
</body>
</html>