{% extends "agentDetails.html" %}
{% block code %}
        <table id="agent">
            <tr><td>List Of Agents</td></tr>
            <tr>
                 <th>Image</th>
                 <th>FirstName</th>
                 <th>LastName</th>
                 <th>Email</th>
                 <th>Username</th>
                 <th>UserType</th>
                 <th>Department</th>
            </tr>
           {% for show_agent_obj in page_obj %}
            <tr>
            <td>
                    {% if show_agent_obj.image %}
                    <a href="{% url 'agent:imageData' id=show_agent_obj.id %}"><img src="{{show_agent_obj.image.url}}" alt="MyImage" accept=".png,.jpg,.jpeg"
                                                width="70px" height="25px"/>  </a>
                     {% else %}
                            {{msg}}
                    {% endif %}
            </td>
            <td>
                    {{show_agent_obj.firstName}}
            <td>
                        {{show_agent_obj.lastName}}
            </td>
            <td>
                 {{show_agent_obj.email}}
            </td>
            <td>
                 {{show_agent_obj.username}}

            </td>
            <td>
             {{show_agent_obj.usertype}}
            </td>
            <td>
       <a href="{% url 'agent:deptData' dept=show_agent_obj.dept %}">{{show_agent_obj.dept}}</a>
            </td>
            </tr>
             {% endfor %}
       </table>
       <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">&laquo; previous</a>
            {% endif %}
          </span>
          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
          </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.paginator.num_pages }}">last  &raquo;</a>
                <a href="?page={{ page_obj.next_page_number }}">next  &raquo;</a>
            {% endif %}
          </span>
       </div>
{% endblock%}
