{% extends "agentDetails.html" %}
{% block code %}
        {% load static %}

        <table id="agent-dept-click-table">

          {% if deptDetails %}
            <tr><td>Details of {{deptDetails.deptName}} Department</td></tr>
            <tr>
                <th>CreatedById</th>
                <th>Username</th>
                <th>Department</th>

            </tr>

            <tr>
                <td>
                    <div class="field">
                    <label></label>
                    {{deptDetails.id}}
                    </div>
                <td>

                        <div class="field">
                         <label></label>
                         {{deptDetails.createdBy}}
                        </div>
                </td>
                <td>
                    <div class="field">
                    <label></label>
                     {{deptDetails.deptName}}
                    </div>

                </td>

            </tr>

             {% endif %}
        </table>

  {% endblock %}