.Invoice-Select-Container{
        margin-left:50px;

}
.Invoice-selection{
      margin-left:20px;

}

.invoice-select-submit{
        margin-left:200px;
        margin-top:20px;
        padding:5px;
        border-radius:5px;
        border:none;
        background:#87ceeb;
        width:100px;
}

.Invoice-To-Address{
     width:10%;
}

.Invoice-From-Address{
     width:10%;
}
.Invoice-create{
        padding-top:150px;
        padding-right:50px;
        width:80%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.Invoice-table td{
       background-color:#669999;


}
.Invoice-table input[type="text"]{
        outline:none;
        border:none;
        text-align:center;
        border-radius:5px;
        padding:5px;

}
.Invoice-table textarea{
        outline:none;
        border:none;
        text-align:center;
        border-radius:5px;
        padding:5px;

}