.Invoice-Select-Container{
        margin-left:100px !important;

}
.Invoice-selection{
      margin-left:20px;

}

.invoice-select-submit{
        margin-left:200px;
        margin-top:2px;
        margin-bottom:20px;
        padding:5px;
        border-radius:5px;
        border:none;
        background:#87ceeb;
        width:100px;
}
.invoice-add-submit{
        padding:5px;
        border-radius:5px;
        border:none;
        background:#87ceeb;
}
.invoice-submit{
        position:absolute;
        text-align:center;
        padding:5px;
        margin-top:10px;
        margin-left:50px;
        background:#87ceeb;
        border-radius:5px;
        border:none;
        width:100px;


}
.Invoice-To-Address{
     width:10%;
     float:left;
}

.Invoice-From-Address{
     width:10%;
     float:right;
     margin-left:80%;
}
.Invoice-create{
        padding-top:50px;
        padding-right:50px;
        width:70vw;
}
#table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70vw;;
  margin-left:20px;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 0px 0px 0px !important;
  text-align:left;
}
#table th{
   padding:0 !important;
   margin: 0 !important;
   text-align:center;
}
.invoiceAddress input[type="text"]{
        outline:none;
        border:none;
        border-radius:5px;
        padding:0px;
        margin:0px;
        height:30px;
        width:100px;
}
.invoiceAddress input[type="number"]{
        outline:none;
        border:none;
        border-radius:5px;
        padding:0px;
        margin:0px;
        height:25px;
        width:100px;
}

.container{
    overflow-y:scroll;
    height:70vh;
    width:1100px;
}
.invoiceAddress {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: 1px solid #ddd;
  width: 100%;
}

.invoiceAddress td, .invoiceAddress th {
  border: 1px solid #ddd;
  padding: 0px;
}
.invoiceAddress td{
      text-align:left;
      margin-left:10px;

}


.invoiceAddress th {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
  color: black;
}
.total-value-table {
       margin-left:305px;

}
.total-value-table td{
       width:120px;
}

.total-value-table th{
       border:none;

}