/*basic layout css for header,footer,navbar */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}

/* Style the header */
.header {

  text-align: left;
}
/* Style the top navigation bar */
.navbar{
    background-color: #F8F8F8;
/*=======
.topnav {
  overflow: hidden;
  background-color: #136BC3;
  line-height:50px;
}
.topnav h4{

    color: #747487;
>>>>>>> Stashed changes*/
}
.nav-link-style,.logout{
        color:white;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */

.column.side{
width: 25%;

}
/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
/* Style the footer */
.footer {
  background-color:#3b5998;
  color:#ffffff;
  padding: 3px;
  text-align: left;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  }

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
/*DropDown Buttons*/
/*.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: arial;
  margin: 0;
}

.dropdown:hover .dropbtn {
  color: #0040ff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #0040ff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color:#ffffff;
}

.navbar a:hover,.dropdown-menu:hover .dropdown-content {
  display: block;
}*/
/*<<<<<<< Updated upstream*/

/*search dropdown*/
#myInput{

  font-size: 14px;
  border: none;
  margin-right:20px;
  padding:0px;
  height:25px;
}
.navbar {
    margin-bottom: 0
    }

.dropdown-toggle{
        padding:0px;

}
.navbar-nav > li > a {padding-top:2px !important; padding-bottom:0px !important;}
.navbar {min-height:15px !important}
/*#search-submit{
  padding: 6px;
=======
.navbar{
  background-color:#3b5998;
}

.nav-item{
    list-style-type: none;
    margin-top:15px;
    text-decoration:none;

}
.dropdown-menu,.nav-link{
    background:#3b5998;
}
.nav-item a:link{
     text-decoration: none;
     color: white;
     font-family:"Gill Sans", sans-serif;
     font-size:16px;
     margin:0px;
}
.nav-item a:visited{
     text-decoration: none;
     color: white;
     font-family:"Gill Sans", sans-serif;
     font-size:16px;
}

.navbar-brand{
    color: white;
    font-family:"Gill Sans", sans-serif;
    margin:0px;
    font-weight:none;
    }
.navbar-brand:visited{
    color: white;
    font-family:"Gill Sans", sans-serif;
    padding:0px;
    }

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
/*search dropdown*/
/*#myInput{
  padding: 5px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-radius:5px;
}*/

/*.search-dropdown {
=======
}
#myInput:focus{
        outline:green;
}

.form-control{
>>>>>>> Stashed changes
  position: relative;
  display: inline-block;
  float:right;
  margin-right:100px;
}*/

/*.search-dropdown-content #myList {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}*/

/*image update button in profile details*/

.updateImage-btn{
  background-color:#87ceeb;
  border: none;
  border-radius:5px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:10px 20px;
  cursor: pointer;

}
.updateImage-btn:hover{
        outline:none;
}
.updateImage-btn:focus{
        outline:none;
}
.column.side.left{
       margin-left:50px;

}
.display-image img {
    width:150px;
    height:150px;
}
/*.update-profile-container{
        margin-left:200px;
}*/

/*.change-password-container{
        margin-left:200px;
        width:100%

}*/
/*profile details container in middle column div */
.profile-details-container{
      width: 70%;
      height:80%;
      padding: 12px 20px;
      margin-left:150px;
      margin-top:20px;
      display: block;
      border-radius: 4px;
      box-sizing: border-box;
      border-radius: 5px;

}
.field{
      padding: 10px;
  }

.radio-field{
padding:2px;
margin-left:250px;

}
 .field label{
      margin-right:30px;
      display: inline-block;
      width: 0px;
      text-align: right;
      font-family:arial;
      font-size:14px;
  }
  .field input{
       line-height:20px;
       width:250px;
  }
/*.update-profile a{
    position:absolute;
    top:200px;
    right:250px;
    text-decoration:none;
    line-height:30px;
    width:110px
    font-color: white;
    border-radius:5px;
    background-color:#0040ff;
    padding:5px;
}
.update-font-style{
        color:white;
}
.change-password a{
    position:absolute;
    top:200px;
    right:100px;
    text-decoration:none;
    line-height:30px;
    color:#ffffff;
    border-radius:5px;
    background-color:#0040ff;
    padding:5px;
}*/

#agent {
  font-family: Roboto;
  width: 100%;
  margin-left:0px;
}

#agent td, #agent th {
    border:1px  #ddd;
    text-align:right;
    padding: 0px;
}
#agent td{
    text-align:left;
}
#agent caption{
    text-align:left;
    color:#e856a4;
    font-family:arial;
    font-size:20px;
}
/*#agent tr:nth-child(even){background-color: #f2f2f2;}

#agent tr:hover {background-color: #ddd;}*/

#agent th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #87ceeb;
  color: white;
}
#agent-details-table{
        margin-left:200px;

}
#agent-details-table th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: #87ceeb;
}

#agent-details-table td{
        col-span:2;
        font-family:arial;
        font-size:14px;
        margin-left:100px;
        margin-top:0px;
        padding:0px;
}

#agent-details-table caption{
        font-family:font-family:Roboto;
        color:#87ceeb;
        text-align:left;
}
.dept-field{
    margin-left:200px;

}

.deptName{
        line-height:10px;
        width: 50%;
        padding: 10px;
        margin-left: 100px;
        margin-top:10px;
        border-radius:10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;

}
.dept-field-label{
        display:inline;
        width:200px;

}
.dept-field-button{
      color: #fff;
      border: none;
      border-radius:10px;
      padding: 5px;
      margin-top: 10px;
      margin-left:400px;
      display:box;
      font-size: 20px;
      font-weight: 500;
      background:#87ceeb;
      width:40%;
}

.request-label{
        display:block-inline;
        width:400px;
        text-align:left;
        margin-top:100px;
}
.request-details-container{
        margin-left:400px;

}
.requestedUserName{
        line-height:10px;
        width: 100%;
        padding: 10px;
        margin-left: 100px;
        margin-top:10px;
        border-radius:10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
}
.description{
        line-height:10px;
        width: 100%;
        padding: 10px;
        margin-left: 100px;
        margin-top:10px;
        border-radius:10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;

}
.requestType{
        line-height:10px;
        width: 50%;
        padding: 10px;
        margin-left: 100px;
        margin-top:10px;
        border-radius:10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
}
.request-submit-button{
      color: #fff;
      border: none;
      border-radius:10px;
      padding: 5px;
      margin-top: 10px;
      margin-left:100px;
      display:box;
      font-size: 20px;
      font-weight: 500;
      background:#87ceeb;
      width:100%;

}
.requestedUserName:focus{
    border: 2px solid  #0040ff;
}

.description:focus{
    border: 2px solid  #0040ff;
}

.agent-field-label{
      width:60%;
      display: inline-block;
      width: 200px;
      text-align: right;
      font-family:arial;
      font-size:14px;

}

.firstName,.lastName,.email,.username,.password,.confirmPassword,
               .userType,.dept-select,.usertype-select,.usertype-select,.dno,.street,.city,.state{
        line-height:10px;
        width: 50%;
        padding: 6px;
        margin-left: 10px;
        margin-top:10px;
        border-radius:10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
}
.agentRegister-submit-button{
      color: #fff;
      border: none;
      border-radius:10px;
      padding: 5px;
      margin-top: 10px;
      margin-left:200px;
      display:box;
      font-size: 20px;
      font-weight: 500;
      background: #87ceeb;
      width:100%;

}

/*agent address button */
.agentAddress-submit{
      color: #fff;
      border: none;
      border-radius:10px;
      padding:0px;
      margin-top: 10px;
      margin-left:200px;
      margin-bottom:100px;
      display:box;
      font-size: 20px;
      font-weight: 500;
      background: #87ceeb;
      width:40%;

}

.agentAddress-submit-button{
      color: #fff;
      border: none;
      border-radius:10px;
      padding: 5px;
      font-size: 20px;
      font-weight: 500;
      text-align:center;
      width:100%;
      background: #87ceeb;

}
/*.accordion_container {
  width: 250px;
  margin-right:0px;
}

.accordion_container2 {
  width: 250px;
  margin-right:10px;
}
.accordion_head {
  background-color: #87ceeb;
  color: white;
  cursor: pointer;
  font-family: arial;
  font-size: 14px;
  margin: 0 0 1px 0;
  padding: 7px;
  font-weight: bold;
}

.accordion_body {
  background: lightgray;
}


.plusminus {
  float: right;
}*/

/*ul.tabs-buttons   {
    margin-left:0px;
}
#tabs-container{
    margin-left:100px;
}
#tab2-updateProfile{
    border-top: solid 1px #ccc;
    margin-top: -1px;
}
#tab3-changePassword {
    border-top: solid 1px #ccc;
    margin-top: -1px;
}
#tab1-profile-details{
    border-top: solid 1px #ccc;
    margin-top: -1px;

}
#tab2-update {
    display:none;
    width:100%;
    margin-left:40px;
}
#tab3-change {
    display:none;
    width:100%;
    margin-left:40px;
}
ul.tabs-buttons li  {
    list-style:none;
    display:inline;
}
ul.tabs-buttons li a{
    width:30%;
    padding:5px 10px;
    display:inline-block;
    background:#87ceeb;
    color:#fff;
    text-decoration:none;
}
ul.tabs-buttons li a:hover,a:active {
    background:#fff;
    color:#000;
    border: solid 1px #ccc;
    border-width: 1px 1px 0 1px;
  }*/
/*update expand label,fields,button properties*/
.update-field-label{
      width:100%;
      display: inline-block;
      width: 200px;
      text-align: right;
      font-family:arial;
      font-size:14px;
      margin-left:0px;
}
.editProfile-firstName ,.editProfile-lastName,.editProfile-email {
       line-height:0px;
        width: 50%;
        padding: 5px;
        margin-left: 10px;
        margin-top:10px;
        border-radius:10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
}
.change-your-profile-here{
    font-size:14px;
    margin-left:200px;
    margin-top:20px;

}
.update-profile-submit{
       color: #fff;
      border: none;
      border-radius:10px;
      padding: 5px;
      margin-top: 10px;
      margin-left:210px;
      display:box;
      font-size: 14px;
      font-weight: 500;
      background: #87ceeb;
      width:50%;

}
.change-password-here{
    font-size:14px;
    margin-left:200px;
    margin-top:20px;

}
/*change password label,field,button properties*/
.change-password-label{
      width:100%;
      display: inline-block;
      width: 200px;
      text-align: right;
      font-family:arial;
      font-size:14px;
      margin-left:0px;

}
.change-password-field{
        line-height:0px;
        width: 50%;
        padding: 5px;
        margin-left: 10px;
        margin-top:10px;
        border-radius:10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
}
.change-password-submit{
      color: #fff;
      border: none;
      border-radius:10px;
      padding: 5px;
      margin-top: 2px;
      margin-left:210px;
      display:box;
      font-size: 14px;
      font-weight: 500;
      background: #87ceeb;
      width:50%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height:50vh;

}

/* Show agents CSS along with table properties */
#agent {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80vw;
  margin:0px 100px;
  height:50vh;


}

#agent td, #agent th {
  border: 1px solid #ddd;
  padding: 1px 1px 1px;
  text-align: center;
}

#agent tr:nth-child(even){
    background-color: #f2f2f2;
}

#agent tr:hover {background-color: #ddd;}

#agent th {
  padding-top:5px;
  padding-bottom: 5px;
  background-color: #88e1fc;
  color: white;
}

#image-click-agent-table{
        font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 70%;
         margin-left:200px;
}


#image-click-agent-table th,#image-click-agent-table td{
          border: 1px solid #ddd;
          padding: 2px 2px 2px;
          text-align: center;

}

#image-click-agent-table th {
   padding-top: 10px;
  padding-bottom: 10px;
  background-color: #88e1fc;
  color: white;
}
#image-click-agent-table tr:nth-child(even){background-color: #f2f2f2;}

#image-click-agent-table tr:hover {background-color: #ddd;}

#agent-dept-click-table{
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 70%;
          margin-left:200px;
          margin-top:20px;

}

#agent-dept-click-table th,#agent-dept-click-table td{
          border: 1px solid #ddd;
          padding: 2px 2px 2px;
          text-align: center;

}

#agent-dept-click-table th {
   padding-top: 10px;
  padding-bottom: 10px;
  background-color: #88e1fc;
  color: white;
}

#agent-dept-click-table tr:nth-child(even){
        background-color: #f2f2f2;
}
#agent-dept-click-table tr:hover {
    background-color: #ddd;
}

.pagination{
      /*box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 170px;
      height:40px;
      padding:0px;*/
      margin:1px 100px;
}

#address-table{
   margin-top:3px;
   margin-left:70px;
   margin-right:20px;

}
#address-table th{
  padding-top:5px;
  padding-bottom: 5px;
  color:  #88e1fc;
  font-family:Arial, Helvetica, sans-serif;
}
#address-table td{
  /*border: 1px solid #ddd;*/
  padding: 1px 1px 1px;
  text-align: left;


.editAddr input[type=text]{
        line-height:0px;
        width: 50%;
        padding: 5px;
        margin-left: 10px;
        margin-top:10px;
        border-radius:10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
}

.change-address-card{
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  height:50vh;

}