.showDept{
    margin-left:30px;
    margin-right:30px;

}


#agent {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 30vw;
  margin-left:300px;
}

#agent td, #agent th {
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;

}

#agent tr:nth-child(even){background-color: #f2f2f2;}

#agent tr:hover {background-color: #ddd;}

#agent th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #34ebe1;
  color: white;
}
.search-field-input {
        line-height:30px;
        width:60%
        padding: 15px 20px;
        margin: 8px 0;
        margin-left:30px;
        border-radius:10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;

}
.search-field label{
        margin-left:400px;
}
.dept-field-input{
        line-height:30px;
        width:60%
        padding: 15px 20px;
        margin: 8px 0;
        margin-left:20px;
        border-radius:10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;

}

.searchDepartment-button{
      background-color: #87ceeb;
      border: none;
      border-radius:5px;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      margin-left:450px;
      width:200px;
}